

.notas{
    width: 100%;
    box-sizing: border-box;
    margin-top: 0;
    min-height: 100vh;
    font-family: "Roboto", sans-serif;
  }
  .botones{

    box-sizing: border-box;
    padding: 10px 50px;
    margin-top: 30px;
    font-size: 16px;
    font-weight: 200;
    
  }
  
  .boton-curso{
    margin-right: 16px;
    background-color:#28a745;
    color: #FFFf;
  }

  .boton-back{
    background-color: #ffc107;
    color: #000;
  }
  
  
  .cuadro-notas{
    display: flex;
    justify-content: center;
  }
  
  .table-notas {
    margin-top: 50px;
    margin-bottom: 50px;
    width: 80%;
    height: 120px;
    color: white;
    color: #000;
  }
  .table-notas table {
    width: 100%;
    border-collapse: collapse;
    margin-bottom: 20px;
  }
  .table-notas th, .table-notas td {
    border: 1px solid #000000;
    padding: 8px;
    text-align: center;
  }
  
  .coment-buton{
    margin-left: 50px;
 
    background-color: #17a2b8;
    color: #000;
    font-weight: bolder;
    font-size: 16px;
  }
  .coment{
    border: 2px solid #17a2b8;
    border-radius: 16px;
    width: 50%;
    margin: auto;
    padding: 20px;
    height: 100px;
    color: #17a2b8;
    font-weight: bold;
    margin-top: 20px;
  }
  .th-ocult{
    border: none !important;
  }